body {
  margin: 0;
  font-family: 'century gauthic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: large;
}

h2{
  font-size: medium;
}

h3{
  font-size: small;
}

h1, h2, h3{
  font-weight:600;
}

li{
  list-style-type: none;
}

[className~='button']{
  cursor: pointer;
}

a{
  text-decoration: none;
}